* {font-family: "Inter", sans-serif}
h1, h2, h3, h4 {margin: 0}

body {
  background-color: #EBEEF3;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.error-form {
  border-color: #F5222D;
  color: #F5222D;
  font-size: 14px;
  line-height: 22px;
}
